opencv-python==4.11.0.86
websockets==15.0.1
colorama==0.4.6
selenium==4.31.0
webdriver-manager==4.0.2
pure-python-adb==0.3.0.dev0

numpy>=1.21.0,<2.0
websocket-client~=1.8.0
facebook-wda==1.5.0
airtest~=1.3.5
setuptools